/* Estilos Gerais */
body {
    background-color: #f4f4f4;
    /* Cor de fundo suave */
}

.logo {
    font-family: 'Arial', sans-serif; /* Você pode escolher outra fonte, se preferir */
    font-size: 2rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    color: #007bff; /* Cor do texto */
    text-transform: uppercase; /* Maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    transition: color 0.3s ease; /* Efeito de transição suave */
  }


  
  .logo:hover {
    color: white; /* Cor ao passar o mouse */
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
  }

#produtos {
    background: #ccc;
}

.about-icon {
    font-size: 40px;
    color: #007bff;
    /* Cor do ícone */
}

.about-section {
    background-color: #f8f9fa;
    /* Cor de fundo */
    padding: 50px 0;
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
}

.rounded-circle {
    border: 5px solid #007bff;
    /* Borda azul */
}



#contact {
    background-color: #ccc;
}

#payment-methods{
    background-color: #343a40;
   

}
#payment-methods h2 {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
  }
  
  #payment-methods h3 {
    font-size: 1.2rem;
    color: white;
  }
  
  .card {
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }




.contact-card,
.contact-info {
    background-color: #f8f9fa;
    /* Fundo claro */
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-bottom: 20px;
    /* Margem inferior */
}

.contact-card h4,
.contact-info h4 {
    color: #007bff;
    /* Cor dos títulos */
}

.social-icons a {
    font-size: 30px;
    /* Tamanho dos ícones */
    color: #007bff;
    /* Cor azul */
    transition: color 0.3s;
    /* Transição suave */
}

.social-icons a:hover {
    color: #0056b3;
    /* Cor ao passar o mouse */
}

h2 {
    font-size: 2.5rem;
    color: black;
    /* Cor dos títulos */
}


/* Ajustes no layout em dispositivos menores */
@media (max-width: 768px) {
    #contatoForm {
        padding: 20px;
    }
}