/* Estilos Gerais */

.logo {
    font-family: 'Arial', sans-serif;
    /* Você pode escolher outra fonte, se preferir */
    font-size: 2rem;
    /* Tamanho da fonte */
    font-weight: bold;
    /* Negrito */

    text-transform: uppercase;
    /* Maiúsculas */
    letter-spacing: 2px;
    /* Espaçamento entre letras */
    transition: color 0.3s ease;
    /* Efeito de transição suave */
}





#produtos {
    background: #ccc;
}

.about-icon {
    padding-left: 10px;
    font-size: 40px;
    color: black;
    /* Cor do ícone */
}

.about-section {
    background: #007bff;
    /* Cor de fundo */
    padding: 50px 0;
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: white;

    /* Sombra */
}

.about-section p {
    font-weight: 400;
}

.rounded-circle {
    border: 5px solid white;
    ;
    /* Borda azul */
}



#contact {
    background-color: #ccc;
}

#payment-methods {
    background-color: #343a40;


}

#payment-methods h2 {
    font-size: 2.5rem;
    color: white;
    font-weight: 300;
}

#payment-methods h3 {
    font-size: 1.2rem;
    color: white;
}

.pay {
    transition: transform 0.2s;
}

.pay:hover {
    transform: scale(1.05);
}




.contact-card,
.contact-info {
    background-color: #f8f9fa;
    /* Fundo claro */
    border-radius: 10px;
    /* Cantos arredondados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra */
    margin-bottom: 20px;
    /* Margem inferior */
}

.contact-card h4,
.contact-info h4 {
    color: #007bff;
    /* Cor dos títulos */
}

.social-icons a {
    font-size: 30px;
    /* Tamanho dos ícones */
    color: #007bff;
    /* Cor azul */
    transition: color 0.3s;
    /* Transição suave */
}

.social-icons a:hover {
    color: #0056b3;
    /* Cor ao passar o mouse */
}

h2 {
    font-size: 2.5rem;
    color: black;
    /* Cor dos títulos */
}


/* Ajustes no layout em dispositivos menores */
@media (max-width: 768px) {
    #contatoForm {
        padding: 20px;
    }
}